extends layout

block content
  main
    h1= "Week #" + week_number
    a(href="/summary/week_number/" + week_number, id="centeredlink") View tasks
    a(href="/access/edit/" + week_number, id="centeredlink") Edit access times
    table.faulttable
      thead
        tr
          th(align="center") Area
          th(align="center") Access starts
          th(align="center") Access ends
          th(align="center") Ready for beam
      tbody
        each report in reports
          tr
            td= report.where.toUpperCase()
            if report.starttime
              td(align="center") report.starttime
            else
              td(align="center") -
            if report.endtime
              td(align="center") report.endtime
            else
              td(align="center") -
            if report.readyforbeam
              td(align="center") report.readyforbeam
            else
              td(align="center") -
