extends layout

block content
  div#container
    header
      h1= title
    main
      form(action="/new_fault", method='post')#report_form
        ul.form-style-1
          li
            label Your Name
              span.required *
            input(type="text", name="first_name", placeholder="First").field-divided
            input(type="text", name="last_name", placeholder="Last").field-divided
          li
            label For the attention of:
            select(name="fao").field-select
              option(value="none") ------------
              option(value="kits_sw") KITS Software
              option(value="kits_hw") KITS Hardware
              option(value="plc") PLC
              option(value="el") Electricians
              option(value="water") Water
          li
            label Status:
            select(name="status").field-select
              option(value="reported") Reported
              option(value="assigned") Assigned
              option(value="fixed") Fixed
              option(value="wont_fix") Won't fix
          li
            label Report
              span.required *
            textarea(name="comment", id="comment").field-long.field-textarea
          li
            button Submit
    footer
      p I am a footer
