if (report)
  - var id_newcomment_path=report._id + '/new_comment'

doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src="javascripts/postform.js")
