if (report)
  - var id_newcomment_path=report._id + '/new_comment'

doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#container
      header
        a(href="/")
          h1= title
      block content
      footer
        p
          i(onclick="location.href='https://gitlab.maxiv.lu.se/stepmo/fixlist_app'").fab.fa-gitlab
