if (report)
  - var id_newcomment_path=report._id + '/new_comment'

doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.2.0/css/all.css", integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#container
      header
        a(href="/")
          h1= title
      block content
      footer
        ul
          li
            i(onclick="location.href='https://gitlab.maxiv.lu.se/operations/tuesday_maintenance_app'").fab.fa-gitlab   
          li
            i(onclick="location.href='/summary/archived/true'").fas.fa-trash
