extends layout

block content
  div#container
    header
      h1= title
    main
      table#faulttable
        tr(onclick='function() {console.log("clicked!")}')
          th Date and time
          th Reporter
          th Comment
        each datum in data
          tr
            each cell in datum
              td= cell
    footer
      p I am a footer
