extends layout

block content
    main
      form(action="/new_task")
        button Add a new maintenance task
      table#faulttable
        tr
          th 
          th Maintenance Week
          th Reporter
          th Affected location(s)
          th Responsible
          th Comment
        each datum, index in data
          - var d = "location.href='/api/get/" + ids[index] + "';"
          tr(onclick=d)
            td= index+1
            each cell in datum
              td= cell
