extends layout

block content
  div#container
    header
      a(href="/")
        h1= title
    main
      form(action="new_report")
        button Report a fault
      table#faulttable
        tr
          th 
          th Date and time
          th Reporter
          th Comment
        each datum, index in data
          - var d = "location.href='/api/get/" + ids[index] + "';"
          tr(onclick=d)
            td= index+1
            each cell in datum
              td= cell
    footer
      p I am a footer
