extends layout

block content
  main
    form(action="/new_maintenance_task", method='post')#report_form
      ul.form-style-1
        li
          label Your Name
            span.required *
          input(type="text", name="first_name", placeholder="First").field-divided
          input(type="text", name="last_name", placeholder="Last").field-divided
        li
          label Responsible
          input(type="text", name="fixer", placeholder="Person/team").field-long
        li
          label Proposed week number for this task:
          select(name="proposedweeknumber").field-select
            option(value=current_weeknumber, selected)= current_weeknumber
            each val in [1, 2, 3, 4, 5, 6, 7, 8, 9]
              option(value=current_weeknumber+val)= current_weeknumber+val
        li
          label Location(s) affected:
          input(type="checkbox", name="location", value="R11")
          | R11
          br
          input(type="checkbox", name="location", value="R12")
          | R12
          br
          input(type="checkbox", name="location", value="R31")
          | R31
          br
          input(type="checkbox", name="location", value="R3235")
          | R32-35
          br
          input(type="checkbox", name="location", value="linac")
          | Linac
          br
          input(type="checkbox", name="location", value="other")
          | Other
        li
          label Details
            span.required *
          textarea(name="comment", id="comment").field-long.field-textarea
        li
          button Submit
