* {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "head head head" "main main main" "foot foot foot";
  grid-gap: 10px;
}

#container>header {
  grid-area: head;
  padding: 40px 0 40px 96px;
  background-color: hsl(175, 25%, 30%);
  font-family: 'Raleway', sans-serif;
}

#container>main {
  grid-area: main;
  width: 960px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

#container>footer {
  grid-area: foot;
}

#container>header>a>h1 {
  display: inline-block;
  font-size: 72px;
  letter-spacing: 0.05em;
  word-spacing: 0.2em;
  color: hsl(175, 25%, 90%);
}

#container>main button {
  height: 4.5ex;
  margin: 0 0 10px 40%;
  width: 20%;
  font-weight: bold;
  font-size: 14px;
}

#container>footer>p {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  letter-spacing: 0.0em;
  color: hsl(175, 25%, 90%);
  padding: 10px 0 10px 96px;
  background-color: hsl(175, 25%, 30%);
}

.form-style-1 {
  /* margin: 10px auto; */
  max-width: 960px;
  /* padding: 20px 0 10px 0; */
  font: 13px;
}

.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

.form-style-1 label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
  color: hsl(175, 25%, 20%);
}

.form-style-1 input[type=text], .form-style-1 input[type=date], .form-style-1 input[type=datetime], .form-style-1 input[type=number], .form-style-1 input[type=search], .form-style-1 input[type=time], .form-style-1 input[type=url], .form-style-1 input[type=email], textarea, select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #BEBEBE;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

.form-style-1 input[type=text]:focus, .form-style-1 input[type=date]:focus, .form-style-1 input[type=datetime]:focus, .form-style-1 input[type=number]:focus, .form-style-1 input[type=search]:focus, .form-style-1 input[type=time]:focus, .form-style-1 input[type=url]:focus, .form-style-1 input[type=email]:focus, .form-style-1 textarea:focus, .form-style-1 select:focus {
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}

.form-style-1 .field-divided {
  width: 25%;
}

.form-style-1 .field-long {
  width: 100%;
}

.form-style-1 .field-select {
  width: 50%;
}

.form-style-1 .field-textarea {
  height: 300px;
}

.form-style-1 input[type=submit], .form-style-1 input[type=button] {
  background: hsl(235, 25%, 30%);
  padding: 8px 15px 8px 15px;
  border: none;
  color: hsl(235, 25%, 90%);
}

.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover {
  background: #4691A4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.form-style-1 .required {
  color: red;
}

#faulttable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#faulttable td, #faulttable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#faulttable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#faulttable tr:hover {
  background-color: #ddd;
}

#faulttable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: hsl(175, 25%, 20%);
  color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  width: 80%;
  margin:0 auto;
}

.cardcontainer {
  padding: 2px 16px;
}

.cardcontainer * {
  margin: 8px;
}

.comment {
  border-color: #bbb;
  border-width: 2px;
  border-style: solid;
}
